* {
    margin: 0;
    padding: 0;
}

.container {
    width: 21cm !important;
    height: 29cm;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
}

.container .wrapper-top .box-logo img {
    width: 100px;
}

.container .wrapper-top .box-brand-title h2 {
    font-size: 15pt;
    font-weight: 700;
    margin: 0px;
}

.container .wrapper-top .box-brand-subtitle h3 {
    font-size: 11pt;
}

.container .wrapper-top .hr {
    width: 100%;
    height: 3px;
    background-color: #393939;
}


.container .wrapper-middle .box-content {
    width: 75% !important;
}

.container .wrapper-middle .box-content .text-content,
table,
.box-sign .date,
.sign,
.author {
    font-size: 10pt;
    margin: 0;
}

.container .wrapper-bottom .box-stripped {
    width: 100%;
    height: 0.09cm;
    background-color: #393939;
}

.container .wrapper-bottom .box-footer {
    width: 100%;
    height: 1.5cm;
    margin-top: 3px;
    color: #fff;
    background-color: #393939;
}

.box-content .box-score {
    width: 100%;
}

.box-content .box-score .score-item {
    width: 118px;
    height: 117px;
}

.box-content .box-score .score-item .score-type {
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 5px;
}

.box-content .box-score .score-item .score-value {
    width: 70px;
    height: 70px;
    font-size: 17pt;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.score-item:nth-child(1) .score-value:nth-child(2) {
    border: 5px solid #365C67;
}

.score-item:nth-child(2) .score-value:nth-child(2) {
    border: 5px solid #f9a620;
}

.score-item:nth-child(3) .score-value:nth-child(2) {
    border: 5px solid #FFD449;
}

.score-item:nth-child(4) .score-value:nth-child(2) {
    border: 5px solid #548C2F;
}

.score-item:nth-child(5) .score-value:nth-child(2) {
    border: 5px solid #104911;
}

.box-sign-row {
    margin-top: 50px;
}

.box-footer .social img {
    width: 17px;
}

.box-footer .social .text-social {
    font-size: 9pt;
}

@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }

    .wrapper-bottom {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

}